.game-board{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 10px;
    background-color: black;
    padding: 10px;
  }
  
  .square, .square1, .square2, .square3, .square4{
      background-color: blue;
      text-align: center;
      padding: 20px 0;
      font-size: 30px;
    }
    .square:hover, .square1:hover, .square2:hover, .square3:hover, .square4:hover {
      background-color: blue;
      color: gold;
      text-align: center;
      padding: 20px 0;
      font-size: 30px;
    }

    h1 {
        text-align: center;
    }
  .categories {
      font-size: 25px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      color:gold;
      
  }
  
  body {
      /* background-color: aqua; */
  }
  #score-board {
      text-align: right;
  }

  #score-board {
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    font-size: 35px;
  }
  
  