table {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: white;
    margin: 0 auto;
    border: 5px solid blue;
}

td {
    background-color: blue;
}

h1 {
    text-align: center;
}
